{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form '::Form/field.php.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div style="margin-top: 60px;" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-default col-lg-offset-9 col-md-offset-9 col-xs-offset-8" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock fos_user_content %}
