{% extends "AEUserBundle::layout_dashboard.php.twig" %}
{% form_theme form '::Form/field.php.twig' %}


{% block header %}
    <header class="intro-header" style="background-image: url({{asset('img/logo_fond_marron_grand.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Données Personnelles</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
