{% extends "AEUserBundle::layout_dashboard.php.twig" %}


{#{% block name %}{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
{% endblock name %}
#}

{% block header %}
    <header class="intro-header" style="background-image: url({{asset('img/logo_fond_marron_grand.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Mon compte</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block fos_user_content %}
<div class="col-lg-11 col-md-11">
<div class="jumbotron">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        <a style="margin-left: 110px" class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Modier mon profil</a>
    </div>
    <div class="jumbotron">
        <p style="margin-left: 20px;">Changer mon mot de passe</p>
    </div>
    <div class="jumbotron">
        <p style="margin-left: 20px;">Suprimer mon compte</p>
    </div>
</div>
{% endblock fos_user_content %}
