{% extends "::layout.php.twig" %}

{% block navbar %}
    {{ include("::navbar.php.twig") }}
{% endblock navbar %}

{% block header %}
{% endblock %}

{% block body %}
    {% block button %}
    {% endblock button %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}" style="margin-left: 20px; margin-top: 30px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

{% endblock body %}
